<?xml version="1.0"?>
<!--
	This is the main Smooks configuration file. Here we set the general configuration
	properties and import all the smooks configuration parts.
 -->
<smooks-resource-list xmlns="http://www.milyn.org/xsd/smooks-1.1.xsd"
		xmlns:core="http://www.milyn.org/xsd/smooks/smooks-core-1.4.xsd">

	<!--
		This part sets the global configuration parameters. In this
	    case we only set that we want to use the SAX stream filter instead of
	    the DOM stream filter. This is very important because the SAX filter is
	    faster then the DOM filter and only the SAX filter can handle huge messages.
	 -->
	<core:filterSettings type="SAX" defaultSerialization="false"/>

	<!--
		Imports the EDI reader configuration
	 -->
	<import file="read/edi-product-reader.xml" />

	<!--
		Imports the database datasource configuration
	 -->
	<import file="database/datasource.xml" />

	<!--
		Imports the javabean binding configuration
	 -->
	<import file="binding/bean-binding.xml" />

	<!--
		The following two elements import the configuration which enrich the data from
		the EDI message.
	 -->
	<import file="enrich/stock-service.xml" />

	<import file="enrich/part-data.xml" />

	<!--
		The following three elements import the router configurations to several
		end points.
		Because these routers all do there thing on the visit after action they must
		be defined before the javabean binding and enriching configuration
		if these actions are to be executed after the javabean binding and enriching.
	 -->
	<import file="routing/route-to-database.xml" />

	<import file="routing/route-to-jms-all-receiver.xml" />

	<import file="routing/route-to-jms-pc-and-laptop-receiver.xml" />


</smooks-resource-list>
